.post {
border: 1px solid lightgray;
max-width: 500px;
background-color: white;
margin-bottom: 45px;
.post__header{
  .post__avatar {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    img {
      max-height: 30px;
      max-width: 30px;
      cursor: pointer;

    }
    h3 {
      margin-left: 5px;
      font-weight: 600;
      cursor: pointer;


    }
  }
}
  


  .post_image {
    img {
      object-fit: contain;
      width: 100%;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

    }
    cursor: pointer;
  }

  .post__comments {
    .comment {
      display: flex;
      align-items: center;
      h3 {
        font-weight: 600;
        cursor: pointer;
      }
      p{
        margin-left: 5px;

      }
    }
  }
}