body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
}
.App {
  height: 100vh;
}
.App__header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  border-bottom: 1px solid #777;;
}
.App__logo {
  height: 29px;
  width: 103px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}